@font-face {
    font-family: 'Eras Light ITC';
    src: url('ErasITC-Light.eot');
    src: url('ErasITC-Light.eot?#iefix') format('embedded-opentype'),
        url('ErasITC-Light.woff2') format('woff2'),
        url('ErasITC-Light.woff') format('woff'),
        url('ErasITC-Light.ttf') format('truetype'),
        url('ErasITC-Light.svg#ErasITC-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

