:root {
  --main-bg-color: white;
  --header-text-color: rgb(99, 30, 99);
  --bloc-bg-color: rgb(99, 30, 99);
  --border-border-color: rgb(99, 30, 99);
}
.site-container {
  padding: 0 80px;
  background-color: var(--main-bg-color);
  height: 100vh;
  margin-top: 20px;
}

.menu {
  display: flex;
}

.menu li {
  display: flex;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  background-color: none;
  padding: 10px;
  border-radius: 5px;
  color: var(--header-text-color);
}
.link:hover {
  color: white;
  background-color: rgb(170, 49, 170);
  padding: 10px;
  border-radius: 5px;
}

.link-home {
  text-decoration: none;
  color: var(--header-text-color);
}

.bold {
  font-weight: bold;
}

/* HEADER */

.container-header {
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  color: var(--header-text-color);
}

.header-logo {
  width: 320px;
  margin: 20px;
}

/* ACCUEIL */

.container-accueil {
  display: flex;
}

.accueil {
  display: flex;
  flex-direction: column;
}

.accueil-accroche {
display: flex;
height: 80vh;
background-size: cover;
align-items: center;
justify-content: center;
}


.accueil-text-accroche {
display: flex;
flex-direction: column;
width: 50%;
}

.accueil-text-accroche-citation {
  color: var(--header-text-color);
  font-size: 50px;
  text-align: justify;
}

.accueil-text-accroche p {
color: var(--header-text-color);
font-size: 30px;
text-align: right;

}

.accueil-info {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
}

.accueil-text, .accueil-contact {
  width: 50%;
  color: var(--header-text-color);
  border: 2px solid var(--border-border-color);
  border-radius: 10px;
  padding: 10px 20px;
}
.accueil-contact {
margin-left: 20px;
}
.accueil-text-presentation {
  text-align: justify;
  font-size: 20px;
}

.accueil-text-contact {
  margin: 30px 0;
  font-weight: bold;
}
.logos-hypnose{
  display: flex;
  height: 100px;
  margin-bottom: 50px;
}
.logo-psynapse, .logo-who{
  display: flex;
  width: 50%;
  justify-content: center;
}
/* .accueil-button {
  margin-left: 20px;
} */

/* THERAPIES TARIFS */
.container-tarifs,.container-therapies {
  display: flex;
  flex-direction:column;
  align-items: center;
  
}

.tarifs-blocs, .therapies-blocs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bloc-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  width: 200px;
  min-height: 450px;
  border-radius: 10px;
 
}



.tarif-titre, .therapie-titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}

.bloc-prix {
  margin-top: 20px;
  display: flex;
  height: 50px;
  background-color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.tarif-infos{
  min-height: 80px;
}



/* CONTACT */

.container-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infos-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 70%;
}

.container-contact-formulary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.contact-formulary {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-sizing: border-box;
}

.contact-formulary input,
.contact-formulary textarea {
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;

  border: 2px solid rgba(102, 51, 153, 0.788);
  box-sizing: border-box;
}

textarea[type="textaera"] {
  font-family: inherit;
}
.button-contact {
  margin-top: 10px;
  background-color: rgba(102, 51, 153, 0.788);
  border: 2px solid rgba(102, 51, 153, 0.788);
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button-contact:hover {
  background-color: white;
  border: 2px solid rgba(102, 51, 153, 0.788);
  color: rgba(102, 51, 153, 0.788);
}

.error {
  font-size: 11px;
  font-weight: bold;
  color: red;
}
